form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#name {
    width: 150px;
}

#age {
    margin-bottom: 10px;
    width: 75px;
}

.boutons-radio, .checkbox {
    display: flex;
    align-items: center;
}

p, label {
    margin-right: 10px;
}

.boutons {
    display: flex;
    gap: 50px;
    margin-left: 100px;
}

button {
    padding: 3px;
}
